@font-face {
  font-family: Lavanderia;
  font-weight: normal;
  src: url("/css/fonts/LavanderiaRegular.otf") format("opentype");
}

@font-face {
  font-family: Lavanderia;
  font-weight: lighter;
  src: url("/css/fonts/LavanderiaDelicate.otf") format("opentype");
}

@font-face {
  font-family: Lavanderia;
  font-weight: bold;
  src: url("/css/fonts/LavanderiaSturdy.otf") format("opentype");
}

@font-face {
  font-family: Futura;
  font-weight: normal;
  src: url("/css/fonts/FuturaStd-Book.otf") format("opentype");
}

@font-face {
  font-family: Futura;
  font-weight: lighter;
  src: url("/css/fonts/FuturaStd-Light.otf") format("opentype");
}

@font-face {
  font-family: Futura;
  font-weight: bold;
  src: url("/css/fonts/FuturaStd-Heavy.otf") format("opentype");
}
